EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.estoque.caelum.com.br/" schemaLocation="EstoqueWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="todosOsItens">
    <part name="parameters" element="tns:listaItens"/>
  </message>
  <message name="todosOsItensResponse">
    <part name="parameters" element="tns:itens"/>
  </message>
  <message name="cadastrarItem">
    <part name="parameters" element="tns:cadastrarItem"/>
    <part name="tokenUsuario" element="tns:tokenUsuario"/>
  </message>
  <message name="cadastrarItemResponse">
    <part name="result" element="tns:cadastrarItemResponse"/>
  </message>
  <message name="AutorizacaoException">
    <part name="fault" element="tns:AutorizacaoFault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="todosOsItens">
      <input message="tns:todosOsItens"/>
      <output message="tns:todosOsItensResponse"/>
    </operation>
    <operation name="cadastrarItem" parameterOrder="parameters tokenUsuario">
      <input message="tns:cadastrarItem"/>
      <output message="tns:cadastrarItemResponse"/>
      <fault message="tns:AutorizacaoException" name="AutorizacaoException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="todosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:cadastrarItem" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizacaoException">
        <soap:fault name="AutorizacaoException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

